<header>
  <nav>
    <div class="nav-wrapper container">
      <a href="{{ page.master }}" class="brand-logo amber-text">Sensaura</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% for section in site.data.sections %}
        {% if page.section == section.name %}
        <li class="active"><a href="{{ section.url }}">{{ section.title }}</a></li>
        {% else %}
        <li><a href="{{ section.url }}">{{ section.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </nav>
  {% if site.data.subsections %}
  <nav>
    <div class="nav-wrapper container">
      <ul>
      {% for subsection in site.data.subsections %}
        {% if page.subsection == subsection.name %}
        <li class="active"><a href="{{ subsection.url }}">{{ subsection.title }}</a></li>
        {% else %}
        <li><a href="{{ subsection.url }}">{{ subsection.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </nav>
  {% endif %}
</header>
