<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html">Blog</a></li>
        <li><a href="#">SensNode</a></li>
        <li><a href="#">SensNet</a></li>
        <li><a href="#">SensHub</a></li>
      </ul>
    </div>
  </nav>
  {% if site.data.sections %}
  <nav>
    <div class="nav-wrapper">
      <ul>
      {% for section in site.data.sections %}
        {% if page.section == section.name %}
        <li class="active"><a href="index.html">{{ section.title }}</a></li>
        {% else %}
        <li><a href="index.html">{{ section.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </nav>
  {% endif %}
</header>
