    <div class="col m12 l6">
      <div class="card large">
        <div class="card-image">
          <a href="{{ post.url }}">
            {% if post.cover %}
            <img src="/images/{{ post.cover }}">
            {% elsif post.category %}
            <img src="/images/covers/{{ post.category }}.jpg">
            {% else %}
            <img src="/images/covers/default.jpg">
            {% endif %}
          </a>
          {% if post.textcolor %}
          <span class="card-title {{ post.textcolor }}-text">{{ post.title }}</span>
          {% else %}
          <span class="card-title">{{ post.title }}</span>
          {% endif %}
        </div>
        <div class="card-content">
          <div class="byline">{{ post.date | date_to_string }} | <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a></div>
          <p class="flow-text">{{ post.excerpt }}</p>
        </div>
      </div>
    </div>
