<div class="col s12 l6">
  <div class="row grey lighten-4" style="border: 1px solid gray; margin: 0.5em 0.05em 0.2em 0.05em">
    <div class="col s12 post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% if post.cover %}
    <div class="col s3"><img class="responsive-img" src="/images/{{ post.cover }}" alt=""></div>
    <div class="col s9">
    {% else %}
    <div class="col s12">
    {% endif %}
      <div class="byline">{{ post.date | date_to_string }} | <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a></div>
      {{ post.excerpt }}
    </div>
  </div>
</div>
