.markdown {
  // Make all images responsive
  img {
    max-width: 100%;
    height: auto;
    }
  }

// Use response text in previews
.post-preview {
  p {
    // Truncate
//    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // Use responsive text size      
    font-weight: 300;
    $i: 0;
    @while $i <= $intervals {
      @media only screen and (min-width : 360 + ($i * $interval-size)) {
        font-size: 1.2rem * (1 + (.02 * $i));
        }
      $i: $i + 1;
      }
    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
      font-size: 1.2rem;
      }
    }    
  }
