<html>
<head>
  <title>{{ page.title }}</title>
  {% include styles.inc %}
</head>
<body>
  {% include header.html %}
  <div class="container row">
    <!-- Project summary -->
    <div class="col s12 row hide-on-med-and-down">
      <div class="col s12 center-align">
        <h1><a href="/pages/index.html">Measure, Manage and Control your World.</a></h1>
      </div>
      <div class="col s4 center-align">
        <h2><a href="/pages/senshub/index.html">SensHub</a></h2>
        <p class="flow-text" style="background: url('/images/icons/senshub_light.png') no-repeat center">Combine sensor data, notifications and analytics in one place. Use rules to trigger actions. Display real time information on dashboards.</p>
      </div>
      <div class="col s4 center-align">
        <h2><a href="/pages/sensnet/index.html">SensNet</a></h2>
        <p class="flow-text" style="background: url('/images/icons/sensnet_light.png') no-repeat center">A simple and portable wireless protocol for sensors and actuators. Automatically discover new devices as they are added.</p>
      </div>
      <div class="col s4 center-align">
        <h2><a href="/pages/sensnode/index.html">SensNode</a></h2>
        <p class="flow-text" style="background: url('/images/icons/sensnode_light.png') no-repeat center">A cost effective and versatile hardware platform for sensor projects. Build and deploy custom sensors easily and cheaply.</p>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="card">
        <div class="card-image">
          <a href="/pages/index.html">
            <img src="/images/covers/sensaura.png">
          </a>
          <span class="card-title">{{ post.title }}</span>
        </div>
        <div class="card-content">
          <div class="markdown">
            <p>Sensaura consists of three inter-related projects - the <a href="/pages/sensnode/index.html">SensNode</a> hardware platform, the <a href="/pages/sensnet/index.html">SensNet</a> NRF24L01+ based networking protocol and <a href="/pages/senshub/index.html">SensHub</a> message bus service and rules engine. The components are intended to be used together to provide a scalable remote sensing platform for home, office and manufacturing environments.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Separator -->
    <div class="col s12 center-align">
      <hr>
    </div>
    <!-- Recent posts -->
    {% assign counter = 0 %}
    {% for post in site.posts %}
      {% if counter < 8 %}
        {% assign counter = counter | plus:1 %}
        {% include postpreview.html %}
      {% endif %}
    {% endfor %}
    {% include adsense.inc %}
  </div>
  {% include footer.html %}
  {% include javascript.inc %}
</body>
</html>
