<html>
<head>
  <title>{{ page.title }}</title>
  {% include styles.inc %}
</head>
<body>
  {% include header.html %}
  <main class="container row">
    <div class="col s12">
      {{ content }}
    </div>
    {% include adsense.inc %}
    {% assign counter = "" %}
    <div class="col s12">
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        {% capture counter %}{{ counter | append: "." }}{% endcapture %}
        {% include postpreview.html %}
      {% endif %}
    {% endfor %}
    {% if counter.size == 0 %}
      No content with that tag.
    {% endif %}
    </div>
  </main>
  {% include footer.html %}
  {% include javascript.inc %}
</body>
</html>
